name: Testing

on:
  # run on every push to main
  push:
    branches:
    - main
  # run on every push (not commit) to a PR, plus open/reopen
  pull_request:
    types:
    - synchronize
    - opened
    - reopened

jobs:
  build:
    name: Build & test (${{ matrix.python-version }} | ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      # continue testing other configurations even if a matrix job fails
      fail-fast: false
      matrix:
        # latest python on Win/Mac/Lin
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.11", "3.10"]
        # test older python versions on Linux only
        include:
        - os: ubuntu-latest
          python-version: "3.9"
        - os: ubuntu-latest
          python-version: "3.8"

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mypy>=1.0 pytest
        python -m pip install .[test]

    - name: Run tests
      if: always()
      run: pytest .
